*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    color: white;
    padding: 15px;
}

li,h1,ul{
   display: inline;
}
ul{
    margin-left: 65%;
}
li{
    color: skyblue;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 10px;
}
.search{
    padding: 60px;
    text-align: center;
}
.one{
    border-color: black;
    border-width:2px ;
    border-style: solid;
    display: inline-block;
    width: 207px;
    height: 265px;
}
.two{
    border-color: black;
    border-width:2px ;
    border-style: solid;
    display: inline-block;
    width: 207px;
    height: 265px;
}
.three{
    border-color: black;
    border-width:2px ;
    border-style: solid;
    display: inline-block;
    width: 207px;
    height: 265px;
}
.img{
    height: 150px;
}
.one:hover{
    background-color: black;
    color: white;
}
.two:hover{
    background-color: black;
    color: white;
}
.three:hover{
    background-color: black;
    color: white;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
}
.para{
    padding-top: 30px;
}