body {
    font-family:sans-serif;
    background-color: #a5e2da;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(235, 183, 192);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: black;
    color: white;
}