h1{
    color: transparent;
    font-size: 14rem;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-clip:text;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/049/855/380/small/nature-background-high-resolution-wallpaper-for-a-serene-and-stunning-view-free-photo.jpg);
}
.change{
    background-image: url(./images.jpg);
}